@charset "utf-8";

header{
    position: relative;
    color: white;
    height: 100px;
    background: #29bde0;
    overflow: hidden;
    border-bottom: 1px solid #74d4eb;
}

header h2{
    font-size: 3rem;
    line-height: 7rem;
    text-align: center;
}

header a:first-child{
    position: absolute;
    top: 25%;
    left: 3%;
    width: 4%;
}

header a:nth-child(2){
    position: absolute;
    top: 30%;
    right: 3%;
    width: 6%;
}

main{
    background: #f0f0f0;
    display: block;
    overflow: hidden;
}

/*内容*/
.container{
    margin: 1% 5%;
    background: #fff;
    line-height: 2.5rem;
    border: 1px solid #c9c9c9;
    position: relative;
}

/*day*/
.content-top{
    color: #29bde0;
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
    position: relative;
    border-bottom: 1px solid #c9c9c9;
}

/*点击img*/
.content-top img{
    position: absolute;
    right: 4%;
    top: 38%;
    width: 5%;
    cursor: pointer;
}

.content-bottom{
    position: relative;
}

.content-bottom ul{
    position: relative;
    margin-left: 10%;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid #c9c9c9;
}

.content-bottom ul li{
    padding: 3% 2%;
}

.content-bottom ul li:nth-child(5){
    margin-top: 4%;
}

.content-bottom ul li span:first-child{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #29bde0;
    margin-bottom: -6px;
}


.content-bottom ul li span:last-child{
    display: inline-block;
    background: #29bde0;
    width: 80%;
    color: #fff;
    font-size: 2rem;
    line-height: 4rem;
    cursor: pointer;
}

.content-bottom img{
    position: absolute;
    display: block;
    padding: 2%;
    box-sizing: border-box;
    width: 10%;
    height: 10%;
    left: 5%;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    /*通过堆叠属性影藏实线*/
    z-index: 99;
}

.content-bottom img:nth-child(1){
    margin-top: 2%;
}

.content-bottom img:nth-child(2){
    margin-top: 58%;
}