@charset "utf-8";

/*基本样式*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Microsoft YaHei", serif;
}

img{
    max-width: 100%;
}

.frame{
    margin: auto;
    width: 100%;
    max-width:640px;
}

.header{
    color:#fff;
    background: rgba(0, 0, 0, 0.761);
    position: relative;
}

.arrow{
    width: 1.4rem;
    height: 2rem;
    position: absolute;
    display: inline-block;
    top: 29%;
    left: 2%;
}

.header span{
    position: absolute;
    font-size: 1.5em;
    line-height: 1.5em;
    top: 30%;
    left: 6%;
    display: inline-block;
}

.header h2{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.logo{
    position: absolute;
    width: 6%;
    right: 2%;
    top: 43%;
    display: inline-block;
}

.content{
    background: #68cdd5;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.direction{
    position: absolute;
    width: 5%;
    top: 3%;
    left: 3%;
    display: inline-block;
}

.ppt{
    padding: 13% 39%;
    width: 22%;
    display: block;
}

.text-middle{
    width: 32%;
    padding-left: 34%;
    line-height: 28px;
    font-size: 13px;
    text-align: justify;
}

.bottom-left,.bottom-right{
    float: left;
    width: 50%;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 20% 0;
}


.bottom-left img,.bottom-right img{
    max-width: 100%;
    display: inline-block;
}


.bottom-left span,.bottom-right span{
    display: block;
}

