*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}


body{
    font-family:Microsoft YaHei, sans-serif;
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    text-align: center;
    color: white;
    background: #5fc0cd;

}

span.close{
    float: left;
    padding: 5%;
    font-size: 2.3rem;
}


h2{
    padding: 4%;
    font-size: 3rem;
}


span.login{
    float: right;
    padding: 5%;
    font-size: 2.3rem;
}


main{
    height:800px;
    background: #eff0f4;
    padding-top: 10px;

}


form ul li{
    list-style: none;
    margin-bottom: 10px;
    padding: 1% 0;
    background: #fff;
}

label{
    display: inline-block;
    padding: 0 5%;
    text-align: center;
    vertical-align: middle;
}

input{
    border: none;
    width: 70%;
    border-left: 1px solid #eaedee;
    font-size: 3rem;
    vertical-align: middle;
    text-indent: 10%;
}

button{
    width: 100%;
    background: #5fc0cd;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 4% 0;
    font-size: 3rem;
    letter-spacing:1.5rem
}

p{
   float: right;
    padding: 4%;
    font-size: 2.5rem;
    color: #5fc0cd;
}
