*{
    margin: 0;
    padding: 0;
}

html{
font-size: 62.5%;
}

body{
    font-family: "Microsoft YaHei", serif;
    min-width: 320px;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width:480px)
{
    html{
        font-size: 50%;
    }
}

.box{
    width: 100%;
    margin: 10% auto;
    padding: 2%;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
}

.small-box{
    list-style: none;
    text-align: center;
}

.small-box li{
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    margin: 2%;
    width: 29%;
    padding: 12% 0;
    background: red;
    border-radius: 6%;
}