@charset "utf-8";

.warp{
    background: #29bde0;
}
      /*头部*/
header{
    color: white;
    position: relative;
    text-align: center;
}

.left{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 25%;
    left: 4%;
    background: url("picture/2-assets/left.png");
}

p.vote{
    padding: 2rem 0;
    font-size: 3rem;
}

.close{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 30%;
    right: 4%;
    background: url("picture/2-assets/x-right.png");
}

.main-top{
    position: relative;

}

p.test{
    font-size: 2.5rem;
    color: #464646;
    padding: 4% 10% 4% 4%;
    background: #b9e9f5;
    text-align: left;
}
     /*播放器按钮*/
.main-top button{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 21px;
    width: 55px;
    height: 55px;
    border: 0;
    background: url("picture/2-assets/button.png") 0 0 no-repeat;
    background-size: 52px 52px;
    cursor: pointer
}

.triangle-bottom{
    margin-left: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid #b9e9f5;
    border-left: 6px solid #29bde0;
    border-right: 6px solid #29bde0;
}

p.test-2{
    font-size: 1.5rem;
    color: #fff;
    padding-left: 12%;
    text-align: left;
}

.main-middle{
    max-width: 720px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
       /*单个盒子浮动*/
.box{
    float: left;
    margin: 5%;
    width: 22%;
    border: 2px solid white;
}
       /*水民*/
p.person{
    background: #f5c97b;
    color: #565656;
    padding: 25%;
    font-size: 2rem;
}

p.number{
    background: #83b09a;
    font-size: 2rem;
}
   /*页脚部分*/
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    max-width: 720px;
    width: 100%;

    background: #29bde0;
}

.btn{
    margin: 5% 0;
    padding: 2% 30%;
    background: #fbb435;
    color: white;
    font-size: 3rem;
}

